:root {
}

body {
  background-color: rgb(41, 19, 19);
  color: white;
  width: 100vw;
  display: flex;
  justify-content: center;
}

.title {
  color: #e12836;
  margin-bottom: 100px;
}

h1 {
  color: #e12836;
}
